<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href = "/css/style.css" rel = "stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>HealthClinic | Agendamento</title>
    </head>

    <%- include('../partials/_header')%>

    <body>
        <div class="form2">
            <form action="/schedule/form" method="POST" id="form">
                <strong><label for="state">Estado:</label></strong>
                <select name="state" id="state" onchange="getState()">
                    <% for(var i = 0; i < states.length; i++){%>
                        <option value="<%=states[i]%>"><%=states[i]%></option>
                    <%}%>
                </select>

                <strong><label for="service">Serviço:</label></strong>
                <select name="service" id="service">
                    <% for(var i = 0; i < services.length; i++){%>
                        <option value="<%= services[i]%>"><%=services[i]%></option>
                    <%}%>
                </select>

                <strong><label for="unit">Unidades:</label></strong>
                <select id="unit" name="unit" required>
                    <option value="" id="optionUnit1"></option>
                    <option value="" id="optionUnit2"></option>
                </select>

                <strong><label for="date">Data:</label></strong>
                <input type="date" id="date" name="date" min="2022-06-13" max="2022-07-13" required>

                <strong><label for="hour">Horário:</label></strong>
                <input type="time" id="hour" name="hour" onchange="validHour()" min="6:00" max="18:30" required>
                <span id="timeError" style="color: rgb(207, 61, 61); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; padding-bottom: 8px;"></span>
                <input type="text" name="id" id="id" value="<%=user._id%>" hidden>
                
                <button type="submit" value="Agendar">Agendar Consuta</button>
            </form>
        </div>
    </body>   
    <script src="/script/schedule.js"></script>
</html>