<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <link href = "/css/style.css" rel = "stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>HealthClinic | Agendamentos</title>
</head>
<%- include('../partials/_header');%>

<body>
    <div class="user">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Estado</th>
                    <th>Serviço</th>
                    <th>Unidade</th>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>Nome do paciente</th>
                    <th>Ações</th>
                </tr>
            </thead>
            

            <% for(var i = 0; i < data.length; i++) {%>
                <tbody>
                    <tr>
                        <td><strong><%= data[i]._id%></strong></td>
                        <td><strong><%= data[i].state%></strong></td>
                        <td><strong><%= data[i].service%></strong></td>
                        <td><strong><%= data[i].unit%></strong></td>
                        <td><strong><%= data[i].date%></strong></td>
                        <td><strong><%= data[i].hour%></strong></td>
                        <td><strong><%= data[i].user.name%></strong></td>
                        <td><strong><a href="">Desmarcar</a></strong></td>
                    </tr>
                </tbody>
            <%}%>
        </table>
    </div>
</body>    
