<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <link href = "/css/style.css" rel = "stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>HealthClinic | Usuários</title>
</head>
<%- include('partials/_header');%>

<body>
    <div class="user">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Tipo de usuário</th>
                    <th>Actions</th>
                </tr>
            </thead>
            

            <% for(var i = 0; i < data.length; i++) {%>
                <tbody>
                    <tr>
                        <td><strong><%= data[i]._id%></strong></td>
                        <td><strong><%= data[i].name%></strong></td>
                        <td><strong><%= data[i].email%></strong></td>
                        <td><strong><%= data[i].type%></strong></td>
                        <th>
                            <button class="btn btn-primary button-table"><a href="/update-user?id=<%= data[i]._id%>">Editar</a></button>
                            <button onclick="deleteAccount(`<%= data[i].name%>`)" class="btn btn-danger button-table"><a href="/user/my-account/delete/<%= data[i]._id%>">Deletar</a></button>
                        </th>
                    </tr>
                </tbody>
            <%}%>
        </table>
    </div>
    <script>
        function deleteAccount(name){
            alert(`o usuário ${name} foi deletado com sucesso. `)
            window.open(
                'http://localhost:3000/admin/users'
            )
        }
    </script>
</body>    
