<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "/css/style.css" rel = "stylesheet">
    <link href = "/views/user/form.ejs" rel = "stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>C1 - Minha Conta</title>
  
    <style>
        .col-sm {
        margin: 50px auto;
        width: 80%;
        height: 35vh;
        background-color: white;
        box-shadow: 5px 8px #9a8e8e;
        border-radius: 30px;
        border: 1px solid #efe2e2;
        }

        button{
        background-color: red;
        padding: 10px;
        width: 40%;
        }
    </style>
</head>

<%- include('../partials/_header');%>


<body>
  <div class="row">
      <h1>MINHAS CONSULTAS</h1>
      <div class="col-sm">
          <table style="width:100%">
              <caption></caption>
              <tr>
                <th>Estado</th>
                <th>Serviço</th>
                <th>Unidade</th>
                <th>Data</th>
                <th>Horário</th>
                <th>Ações</th>
              </tr>
              
                <% if(schedule == undefined || Object.keys(schedule).length === 0){%>
                    <h2 style="margin-left: 400px;">Você não tem nenhum agendamento. <a href="/schedule/form/<%= user._id%>">Clique aqui para agendar.</a></h2>
                <%}else{%>
                    <tr>
                        <th><%= schedule.state%></th>
                        <th><%= schedule.service%></th>
                        <th><%= schedule.unit%></th>
                        <th><%= schedule.date%></th>
                        <th><%= schedule.hour%></th>
                        <th><a href="/schedule/desmarcar/<%=schedule._id%>">Desmarcar</a></th>
                    </tr>
                <%}%>
            </table>
      </div>

      <h1>MEUS DADOS</h1>
      <div class="col-sm">
          <p class="p2"><strong id="name">Nome: <%= user.name%></strong></p>
          <p class="p2"><strong id="email">Email: <%= user.email%></strong></p>
          <button type="submit" style="margin: 4vh auto" id="delete" onclick="deleteConfirmation()"><a href="/user/my-account/delete/<%= user._id%>" style="color: white;">Deletar conta</a></button>
      </div>
</body>     
</html>

<script>
    function deleteConfirmation(){
        alert("Sua conta foi apagada. ")
    }
</script>